# App environment
APP_ENV=development
FRONTEND_ORIGIN=http://localhost:5137

# PostgresSQL
POSTGRES_USER=homeserver
POSTGRES_PASSWORD=replace-with-a-local-development-password
POSTGRES_DB=home_server

# Application login
APP_USERNAME=felipe
APP_PASSWORD_HASH=replace-with-a-hash
APP_SESSION_SECRET=replace-with-a-long-random-secret

# Weather
WEATHER_LOCATION_NAME="Mesa, AZ"
WEATHER_LATITUDE=33.39
WEATHER_LONGITUDE=-111.84
WEATHER_TIMEZONE=America/Phoenix