#App environment
APP_ENV=development

# PostgresSQL
POSTGRES_USER=homeserver
POSTGRES_PASSWORD=replace-with-a-local-development-password
POSTGRES_DB=home_server

# Application login
APP_USERNAME=felipe
APP_PASSWORD_HASH=replace-with-a-hash
APP_SESSION_SECRET=replace-with-a-long-random-secret